<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    {{>header}}
    <h1>{{title}}</h1>
    <form>
        <input type="text" placeholder="Enter Address">
        <button>Search</button>
    </form>

    <br>
    <p id="message-1"></p>
    <p id="message-2"></p>
     <br>
    <img src="image/hight.jpeg">
    {{>footer}}
     <script src="js/index.js"></script>
</body>
</html>